.check-out-title{
    font-size: 1.1em;
    font-weight: 600;
    border-bottom: 1px solid #ced4da;
    padding: 8px 0px;
}
.payment-methods{
    padding: 0px 10px;
    width: 60px;
}
.box-container{
    margin-bottom: 15px;
    background-color: #fff;
}
.space-item{
    padding: 10px 20px;
}
.product-image{
    width: 120px;
    height: 130px;
}
.total-amount-box{
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    font-size: 14px;
}
.form-container{
    width: 100%;
    display: flex;
    padding: 10px 0px;
}
.form-title{
    flex-basis: 35%;
}
.confirm-button-pay{
    width: 25%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #C92127;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color .4s ease;
  }
.confirm-button-pay:hover{
    background-color: #a81a1f;
  }
.ant-input{
    min-width: 500px;
}
/* .labelColCustomStyle{
    width: 35%;
}  */
.input-payment{
    width:100%;
    height:30px;
    border-radius:7px;
    outline:none;
    border-color: #d9d9d9;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    padding-left:10px;
    transition: all ease .3s;
}
.input-payment:hover{
    border-color: #4096ff;
}

@media screen and (max-width: 1050px) {
    .box-container{
        margin-top: 100px;
    }
    .confirm-button-pay{
        width: 30%;
        height: 50px;
    }
}

@media screen and (max-width: 950px) {
    .confirm-button-pay{
        width: 30%;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .confirm-button-pay{
        width: 50%;
        height: 60px;
    }
}

@media screen and (max-width: 600px) {
    .confirm-button-pay{
        width: 100%;
        height: 60px;
    }
}

@media screen and (max-width: 550px) {
    .box-container{
        flex-direction: column;
    }

    .confirm-button-pay{
        width: 100%;
        height: 60px;
        font-size: 15px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 480px) {
    .confirm-button-pay{
        width: 120%;
        height: 70px;
        font-size: 15px;
    }
}